body{
    font-family: 'Lato', sans-serif;
    color: #505962;
    text-align: center;
    background-image: url('./img.jpg');
  }
form{
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    margin-left: 360px;
    background-color: aqua;
    width: 500px;
    height: fit-content;
}
.input-group{
    padding: 10px 10px 10px 10px;
}
.input-group label{
    text-align: center;
    padding: 10px;
}
#mail{
    margin-left: 42px;
}
#name{
    margin-left: 12px;
}
#pas{
    margin-left: 20px;
}
#pass{
    margin-right: 42px;
}